	{% load static %}
	{% include 'Layout/header.html' %}
	<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
					{% include 'accountleft.html' %}
					</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">New Product</h2>
						<div class="signup-form">
						<form method="POST" enctype="multipart/form-data" id="productAjax">
							{% csrf_token %}
                        
                            <input type="text" name="name" placeholder="Name" value="{{item.name}}"/>
							<input type="number" name="price" placeholder="Price "/>
							<select name="id_category">
                                <option value="" disabled selected>--Category--</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                            <select name="id_brand">
                                <option value="" disabled selected >--Brand--</option>
                                {% for brand in brands %}
                                <option value="{{brand.id}}">{{brand.name}}</option>
                                {% endfor %}
                            </select>
                            <select name="status" id="statusSelect" onchange="toggleSaleInput()">
                                <option>--Status--</option>
                                <option value="0">New</option>
                                <option value="1">Sale</option>
                            </select>
                            <input type="number"  id="saleInput" name="sale" placeholder="%" />
                            <input type="text" name="company" placeholder="Company"/>
                            <input type="file" class="form-control" id="image" name="image" multiple accept="image/png, image/jpeg, image/jpg, image/webp" required>
                            <textarea name="detail" placeholder="Detail description"></textarea>
                            
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div>
					</div>
				</div>
				</div>
			</div>
		</section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    function toggleSaleInput() {
        var statusSelect = document.getElementById("statusSelect");
        var saleInput = document.getElementById("saleInput");
        
        if (statusSelect.value === "1") {
            saleInput.style.display = "block";
        } else {
            saleInput.style.display = "none";
            saleInput.value = "0";
        }
    }
    $('#productAjax').submit(function(e){
        e.preventDefault();
        const formdata= new FormData(this);
        $.ajax({
            url : "{% url 'product_view' %}",
            type:"POST",
            data : formdata,
            processData: false,
            contentType: false,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert(response.message);
                    window.location.href = "{% url 'my_product_view' %}";
                }
            },
            error: function(xhr) {
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    const errors = xhr.responseJSON.errors;
                    if (errors.image) {
                        $('#error-images').text(errors.image);
                    }
                } else {
                    alert("Có lỗi xảy ra, vui lòng thử lại!");
                }
            }
        })
    })
</script>
	{% include 'Layout/footer.html' %}