{% load static %}
{% include 'Layout/header.html' %}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description">Product</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td class="cart_product">
                            <a href="{% url 'product_detail_view' item.id %}">
                                <img src="/media/{{ item.image }}" alt="{{ item.name }}" style="width: 80px; height: 80px; object-fit: contain;">
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="{% url 'product_detail_view' item.id %}">{{ item.name }}</a></h4>
                            <p>ID: {{ item.id }}</p>
                        </td>
                        <td class="cart_price"><p>${{ item.price|floatformat:2 }}</p></td>
                        <td class="cart_quantity">
                            <form method="post" action="{% url 'cart_view' %}" class="cart_quantity_button">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.id }}">
                                <input type="hidden" name="action" value="update">
                                <input class="cart_quantity_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" style="width: 60px;">
                                <button class="btn btn-default" type="submit">Update</button>
                            </form>
                        </td>
                        <td class="cart_total"><p class="cart_total_price">${{ item.line_total|floatformat:2 }}</p></td>
                        <td class="cart_delete">
                            <form method="post" action="{% url 'cart_view' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.id }}">
                                <input type="hidden" name="action" value="remove">
                                <button class="cart_quantity_delete" type="submit" aria-label="Remove {{ item.name }}"><i class="fa fa-times"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="6" class="text-center">Your cart is empty.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>${{ subtotal|floatformat:2 }}</span></li>
                        <li>Total <span>${{ total|floatformat:2 }}</span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="#">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'Layout/footer.html' %}
